<footer>
    <a href="/about">Awesome Security</a> is licensed
    under <a href="https://github.com/mpinac/awesome-security/blob/main/LICENSE">MIT</a>
    © | Source code available on <a href="https://github.com/mpinac/awesome-security">GitHub</a>
</footer>
  
  <style lang="scss">
    footer {
        
      font-family: "Lekton", sans-serif;
      font-weight: bold;
      text-align: center;
      padding: 0.5rem 0;
      margin: 0 auto;
      a {
        font-family: "Lekton", sans-serif;
        color: var(--accent);
      }
    }
  </style>